name: Eval

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "src/mcp/**"
      - "src/lib/sentry-api/**"
      - "src/evals/**"
      - "*.eval.ts"
      - ".github/workflows/eval.yml"
  pull_request:
    paths:
      - "src/mcp/**"
      - "src/lib/sentry-api/**"
      - "src/evals/**"
      - "*.eval.ts"
      - ".github/workflows/eval.yml"

jobs:
  eval:
    environment: Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      # pnpm/action-setup@v4
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Run evals
        run: pnpm eval:ci evals
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          directory: ./coverage/
          flags: evals
          name: codecov-evals
          fail_ci_if_error: false

      - name: Upload results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
